<div class="container-fluid mh-100 position-relative" style="overflow: hidden;">
    <div class="top-right-square float-end"></div>
    <div class="d-flex align-items-center" style="min-height: 92.1vh">
            <div class="mid-square d-none d-lg-block"></div>
    </div>
    <div class="row d-none d-lg-flex">
        <div class="col">
            <div class="d-flex justify-content-end">
                <div class="bottom-square"></div>
            </div>
        </div>
        <div class="col">
            <div class="bottom-circle float-end"></div>
        </div>
    </div>
</div>
