<div class="container text-center mt-5 headingBox">
    <h1>Resume Templates</h1>
    <p class="mt-4">Choose a free Resume Template and build your resume. Use our intuitive drag-and-drop resume builder and save as PDF in minutes. Start your 7-day FREE trial and access all Enhancv PRO templates at no extra cost.</p>
    <br>
    <p style="color: red;">NOTE: These Templates are not offically created by Me, These are copied from a differnt site just for an example</p>
</div>

<br><br>
<div class="container-fluid text-center p-5">
    <div class="row row-cols-md-2 row-cols-sm-1 row-cols-lg-3 gy-4">
        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/doubleColumn.png" alt="Double Column">
                    <div class="card-body">
                        <h5 class="card-title">Double Column</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Free, Two Column resume template. The most popular choice for most roles, including programming & marketing.</p>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/ivy.png" alt="ivy">
                    <div class="card-body">
                        <h5 class="card-title">Ivy League</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">The classic Harvard template, updated for the 21st century with a refined design that recruiters love and an optimized structure for improved ATS performance.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/elegant.png" alt="elegant">
                    <div class="card-body">
                        <h5 class="card-title">Elegant</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Elegant template with a beautiful design and compact, easy-to-read layout that highlights your strengths and achievements.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/modern.png" alt="modern">
                    <div class="card-body">
                        <h5 class="card-title">Modern</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">The most popular template for upper management roles, project managers and product owners for 2023.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/polished.png" alt="Polished">
                    <div class="card-body">
                        <h5 class="card-title">Polished</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">A refined template, especially great for positions where presentation is paramount: business development managers, sales leaders & other customer-facing roles</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/creative.png" alt="Creative">
                    <div class="card-body">
                        <h5 class="card-title">Creative</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">A creative template that accents your header and makes recruiters want to read the rest. Built for any industry.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/timeline.png" alt="Timeline">
                    <div class="card-body">
                        <h5 class="card-title">Timeline</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">A timeline resume template. Organized neatly with a Timeline to show your career progress. For experienced workers.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/stylish.png" alt="Stylish">
                    <div class="card-body">
                        <h5 class="card-title">Stylish</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Are you a software engineer or a data scientist with a lot of skills & projects to list on your resume? This template allows you to create a perfect one-page resume..</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/singleColumn.png" alt="Single Column">
                    <div class="card-body">
                        <h5 class="card-title">Single Column</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Free, simple resume template. Easily readable by both humans and ATS bots.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/compact.png" alt="Compact">
                    <div class="card-body">
                        <h5 class="card-title">Compact</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Designed as a one-page resume template for mid-level roles with 3-10 years of experience.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/multicolumn.png" alt="Multicolumn">
                    <div class="card-body">
                        <h5 class="card-title">Multicolumn</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Multicolumn resume template. Made for executives to fit additional info in a third column.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/classic.png" alt="Classic">
                    <div class="card-body">
                        <h5 class="card-title">Classic</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Traditional resume template. Fitting for conservative industries.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/highPerformer.png" alt="High Performer">
                    <div class="card-body">
                        <h5 class="card-title">High Performer</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Data-focused resume template. Perfect for project and product managers.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="tempBox">
                <div class="card">
                    <img src="../../../assets/templates/minimal.png" alt="Minimal">
                    <div class="card-body">
                        <h5 class="card-title">Minimal</h5>
                        <button mat-raised-button routerLink="/resume-builder" *ngIf="userIsAuthenticated">Customize This Template</button>
                        <button mat-raised-button routerLink="/login" *ngIf="!userIsAuthenticated">Login First To Customize</button>
                        <p class="card-text text-start">Minimalistic resume template. Blends whitespace and content, without clutter.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
